#player-bank {
    width: 90%;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px 2px #00000075;
    padding: 0 5%;
    cursor: default;
    z-index: 10;
}

#player-bank.turn-1 {
    background-color: #ff69b410
}

#player-bank.turn-2 {
    background-color: #00808010
}

@media only screen and (max-width: 600px) {
    #player-bank {
        height: 75px;
    }
}