#overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 101px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

@media only screen and (max-width: 600px) {
  #overlay{
      top: 76px;
  }
}