.player {
    margin: 20px auto;
    font-size: 18px;
}

.player tbody {
    display: block;
    width: auto;
    margin: 0 auto;
}

.player, .player td {
    color: gray;
    float: left;
    width: 40%;
}

.player.my-turn td.label {
    color: black;
}

.player-1, .player-1 td {
    margin-right: 1%;
    margin-left: 4%;
}

.player.my-turn.player-1 td.input {
    color: hotpink;
}

.player-2, .player-2 td {
    margin-left: 1%;
    margin-right: 4%;
}

.player.my-turn.player-2 td.input {
    color: teal;
}

.player.winner-declared {
    color: darkgoldenrod;
}

.player tr {
    display: block;
    float: left;
    width: 100%;
}

td.label {
    text-align: right;
}

td.input {
    text-align: left;
    font-weight: bold;
    position: relative;
    text-overflow: ellipsis;
}

.winner-crown {
    position: absolute;
    top: -8px;
    left: -15px;
    transform: rotate(-35deg)
}

@media only screen and (max-width: 600px) {
    
    .player {
        font-size: 14px;
    }

}