.card-wrapper {
    width: 95%;
    height: 95%;
    padding: 5%;
}

.card {
    margin: auto;
    width: 150px;
    max-width: 100%;
    height: 150px;
    max-height: 100%;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
    z-index: 6;
}

.card.waiting {
    border-color: transparent;
    background: linear-gradient(78deg, #ff339996, #ff339900 50%), linear-gradient(144deg, #e5ff0096, #e5ff0000 50%), linear-gradient(182deg, #00ff9596, #00ff9500 50%), linear-gradient(226deg, #0099ff96, #0099ff00 50%), linear-gradient(312deg, #6666ff96, #6666ff00 50%);
    box-shadow: 2px 2px 5px #00000025;
    cursor: pointer;
    z-index: 1;
}

.card.waiting:hover {
    border-color: #00000075;
    background: linear-gradient(78deg, #ff000096, #ff339900 60%), linear-gradient(144deg, #ffff0096, #e5ff0000 60%), linear-gradient(182deg, #00ff0096, #00ff9500 60%), linear-gradient(226deg, #0000ff96, #0099ff00 60%), linear-gradient(312deg, #ff00ff96, #6666ff00 60%);
    box-shadow: 1px 1px 2px #00000075;
}

.card.clicked {
    border-color: black;
    cursor: auto;
    background-color: white;
}

.card.match.turn-1 {
    border-color: hotpink;
    background-color: hotpink;
}

.card.match.turn-2 {
    border-color: teal;
    background-color: teal;
}

.card.no-match {
    border-color: red;
    background-color: white;
}

.card.removed {
    border-color: transparent;
    background-color: transparent;
    cursor: auto;
}

.card .img {
    display: inline-block;
    font-size: 72px;
    cursor: default;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card.waiting .img, .card.removed .img {
    visibility: hidden;
}

@media only screen and (max-width: 650px), only screen and (max-height: 1000px) {
    .card {
        height: 75px;
        width: 75px;
    }
    .card .img {
        font-size: 32px;
    }
    .card.waiting:hover {
        background-color: pink;
        box-shadow: 2px 2px 5px #00000025;
    }
}