.card-wrapper {
    width: 95%;
    height: 95%;
    padding: 5%;
}

.card {
    height: 200px;
    max-height: 100%;
    width: 200px;
    max-width: 100%;
    margin: auto;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
    z-index: 6;
}

.card.waiting {
    border-color: black;
    background-color: pink;
    box-shadow: 2px 2px 5px #00000025;
    cursor: pointer;
    z-index: 1;
}

.card.waiting:hover {
    background-color: rosybrown;
    box-shadow: 1px 1px 2px #00000075;
}

.card.clicked {
    border-color: black;
    cursor: auto;
    background-color: white;
}

.card.match {
    border-color: green;
    background-color: green;
}

.card.no-match {
    border-color: red;
    background-color: red;
}

.card.removed {
    border-color: transparent;
    background-color: transparent;
    cursor: auto;
}

.card.waiting .img, .card.removed .img {
    visibility: hidden;
}

.card .img {
    font-size: 72px;
    cursor: default;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media only screen and (max-width: 600px) {
    .card {
        height: 75px;
    }
    
    .card .img {
        font-size: 32px;
    }

    .card.waiting:hover {
        background-color: pink;
        box-shadow: 2px 2px 5px #00000025;
    }

}