.card-wrapper {
    width: 95%;
    height: 95%;
    padding: 5%;
}

.card {
    margin: auto;
    width: 150px;
    max-width: 100%;
    height: 150px;
    max-height: 100%;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
    z-index: 6;
}

.card.waiting {
    border-color: transparent;
    background: linear-gradient(to right, #dda0dd99, #87cefa99, #90ee9099, #ffffe099, #ffa07a99, #ffb6c199);
    box-shadow: 2px 2px 5px #00000025;
    cursor: pointer;
    z-index: 1;
}

.card.waiting:hover {
    border-color: #00000075;
    background: linear-gradient(to right, #dda0dd, #87cefa, #90ee90, #ffffe0, #ffa07a, #ffb6c1);
    box-shadow: 1px 1px 2px #00000075;
}

.card.clicked {
    border-color: black;
    cursor: auto;
    background-color: white;
}

.card.match.turn-1 {
    border-color: hotpink;
    background-color: hotpink;
}

.card.match.turn-2 {
    border-color: teal;
    background-color: teal;
}

.card.no-match {
    border-color: red;
    background-color: red;
}

.card.removed {
    border-color: transparent;
    background-color: transparent;
    cursor: auto;
}

.card .img {
    display: inline-block;
    font-size: 72px;
    cursor: default;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card.waiting .img, .card.removed .img {
    visibility: hidden;
}

@media only screen and (max-width: 650px), only screen and (max-height: 1000px) {
    .card {
        height: 75px;
        width: 75px;
    }
    .card .img {
        font-size: 32px;
    }
    .card.waiting:hover {
        background-color: pink;
        box-shadow: 2px 2px 5px #00000025;
    }
}