.board {
    margin: 10px;
    display: grid;
    /* grid-gap: 5px; */
    grid-template-columns: repeat(4, minmax(150px, 180px));
    grid-template-rows: repeat(5, minmax(150px, 180px));
    /* grid-template-columns: repeat(4, minmax(0, 1fr)); */
    /* grid-template-rows: repeat(5, minmax(0, 1fr)); */
    place-content: center center;
    place-items: center center;
}

@media only screen and (max-width: 650px), only screen and (max-height: 1000px) {
    .board {
        grid-template-columns: repeat(4, minmax(75px, 1fr));
        grid-template-rows: repeat(5, minmax(75px, 1fr));

    }
}