.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
  background-color: #80808025;
}

.App #player-bank {
  display: block;
}

.App .board-wrapper {
  display: block;
  overflow: auto;
}

.App #app-footer {
  margin-top: auto;
  display: none;
}


/* @media only screen and (max-width: 600px) {

} */